{% extends "base.html" %}

{% block title %}
  <title>User registration</title>
{% endblock %}

{% block content %}
  <div class="container">
    <h2>New Residence</h2>
    {% if msg %}
      <div class="alert alert-primary" role="alert">
        {{ msg }}
      </div>
    {% endif %}
    {% for error in errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endfor %}

    <form method="post">
      <div class="row mb-3">
        <label for="country" class="col-sm-2 col-form-label">Country</label>
        <div class="col-sm-10">
          <select class="form-control" id="country" name="country" required></select>
        </div>
      </div>
      <div class="row mb-3">
        <label for="city" class="col-sm-2 col-form-label">City</label>
        <div class="col-sm-10">
          <select class="form-control" id="city" name="city" required></select>
        </div>
      </div>
      <div class="row mb-3">
        <label for="start-date" class="col-sm-2 col-form-label">From:</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="start-date" name="start-date" placeholder="yyyy-mm-dd" value="{{ residence.start_date }}" required>
        </div>
      </div>
      <div class="row mb-3">
        <label for="end-date" class="col-sm-2 col-form-label">To:</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="end-date" name="end-date" placeholder="yyyy-mm-dd" value="{{ residence.end_date }}" >
          </div>
      </div>
      <div class="row mb-3">
        <label for="status" class="col-sm-2 col-form-label">Status:</label>
        <div class="col-sm-10">
          <select class="form-select" id="status" name="status">
            <option value="Motherland">Motherland</option>
            <option value="Travel">Travel</option>
            <option value="Study">Study</option>
            <option value="Work">Work</option>
          </select>
        </div>
      </div>
      <div class="mb-3">
        <br>
        <input type="hidden" name="residence_id" value="{{ residence.id }}">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>

  <!-- Extra JavaScript/CSS added manually in "Settings" tab -->
  <!-- Include jQuery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

  <!-- Include Date Range Picker -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

  <script>
    const selectedCountry = "{{ residence.country }}";
    const selectedCity = "{{ residence.city }}";
  </script>
  <script type="text/javascript" src="/static/js/utility.js"></script>
  <script>
    var statusSelect = document.getElementById("status");
    for (var i = 0; i < statusSelect.options.length; i++) {
      if (statusSelect.options[i].value === "{{ residence.status }}") {
        statusSelect.options[i].selected = true;
        break;
      }
    }
  </script>

{% endblock %}
