{% extends "base.html" %}

{% block title %}
<title>User registration</title>
{% endblock %}

{% block content %}
<div class="container">
    <h2>Edit Residence</h2>
    {% if msg %}
    <div class="alert alert-primary" role="alert">
        {{ msg }}
    </div>
    {% endif %}
    {% for error in errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}

    <form method="post">
        <div class="row mb-3">
            <label for="country" class="col-sm-2 col-form-label">Country</label>
            <div class="col-sm-10">
                <select class="form-control" id="country" name="country" required></select>
            </div>
        </div>
        <div class="row mb-3">
            <label for="city" class="col-sm-2 col-form-label">City</label>
            <div class="col-sm-10">
                <select class="form-control" id="city" name="city" required></select>
            </div>
        </div>
        <div class="row mb-3">
            <label for="start-date" class="col-sm-2 col-form-label">From:</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" id="start-date" name="start-date" placeholder="yyyy-mm-dd"
                       value="{{ residence.start_date }}" required>
            </div>
        </div>
        <div class="row mb-3">
            <label for="end-date" class="col-sm-2 col-form-label">To:</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" id="end-date" name="end-date" placeholder="yyyy-mm-dd"
                       {% if residence.end_date=='present' %}
                       disabled
                       {% else %}
                       value="{{ residence.end_date }}"
                       {% endif %}>
            </div>
        </div>
        <div class="row mb-3">
            <label for="present" class="col-sm-2 col-form-check-label"></label>
            <div class="col-sm-10">
                <input type="checkbox" class="form-check-label" id="present" name="present"
                       {% if residence.end_date=='present' %}
                       checked
                       {% endif %}> Present
            </div>
        </div>
        <div class="row mb-3">
            <label for="status" class="col-sm-2 col-form-label">Status:</label>
            <div class="col-sm-10">
                <select class="form-select" id="status" name="status">
                    <option value="Motherland">Motherland</option>
                    <option value="Travel">Travel</option>
                    <option value="Study">Study</option>
                    <option value="Work">Work</option>
                    <option value="Other">Other</option>
                </select>
            </div>
        </div>
        <div class="mb-3">
            <br>
            <input type="hidden" name="residence_id" value="{{ residence.id }}">
            <a href="/residence/residences" class="btn btn-secondary">Back</a>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<!-- Include Date Range Picker -->
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

<script>
    const selectedCountry = "{{ residence.country }}";
    const selectedCity = "{{ residence.city }}";
</script>
<script type="text/javascript" src="/static/js/utility.js"></script>
<script>
    var statusSelect = document.getElementById("status");
    for (var i = 0; i < statusSelect.options.length; i++) {
        if (statusSelect.options[i].value === "{{ residence.status }}") {
            statusSelect.options[i].selected = true;
            break;
        }
    }
    let startDateInput = document.getElementById('start-date');
    let endDateInput = document.getElementById('end-date');
    let presentCheckbox = document.getElementById('present');

    presentCheckbox.addEventListener('change', function () {
        endDateInput.disabled = this.checked;
    });
    const today = new Date().toISOString().split('T')[0];

    endDateInput.setAttribute("max", today);
    startDateInput.setAttribute("max", today);
</script>

{% endblock %}
