<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img src="{{ url_for('static', path='images/logo.jpg') }}" alt="Percent" width="24" height="24">
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/residence/residences">Residences</a></li>
            <li><a href="/residence/newresidence">New Residence</a></li>
            <li><a href="/diagram">Diagram</a></li>
            <li><a href="/worldmap">World View</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            {% if request.cookies.get("access_token") %}
            <li><a href="/user/logout"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
            {% else %}
            <li><a href="/user/register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            {% endif %}
        </ul>
    </div>
</nav>
