{% extends "base.html" %}

{% block title %}
  <title>User registration</title>
{% endblock %}

{% block content %}
  <div class="container">
    <h2>New Residence</h2>
    {% if msg %}
      <div class="alert alert-primary" role="alert">
        {{ msg }}
      </div>
    {% endif %}
    {% for error in errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endfor %}

    <form method="post">
      <div class="mb-3">
        <label for="country" class="form-label">Country</label>
        <input type="text" class="form-control" id="country" name="country" placeholder="Country">
      </div>
      <div class="mb-3">
        <label for="start-date" class="form-label">From:</label>
        <input type="text" class="form-control" id="start-date" name="start-date" placeholder="dd-mm-yyyy">
      </div>
      <div class="mb-3">
        <label for="end-date" class="form-label">To:</label>
        <input type="text" class="form-control" id="end-date" name="end-date" placeholder="dd-mm-yyyy">
      </div>
      <div class="mb-3">
        <label for="status" class="form-label">Status:</label>
        <select class="form-select" id="status" name="status">
          <option value="motherland">Motherland</option>
          <option value="travel">Travel</option>
          <option value="study">Study</option>
          <option value="work">Work</option>
        </select>
      </div>
      <div class="mb-3">
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>

  <!-- Extra JavaScript/CSS added manually in "Settings" tab -->
  <!-- Include jQuery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

  <!-- Include Date Range Picker -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

  <script>
    $(document).ready(function(){
      var dateInputs = ['start-date', 'end-date'];
      var container = $('.bootstrap-iso form').length > 0 ? $('.bootstrap-iso form').parent() : "body";

      for (var i = 0; i < dateInputs.length; i++) {
        var input = $('input[name="' + dateInputs[i] + '"]');
        input.datepicker({
          format: 'dd-mm-yyyy',
          container: container,
          todayHighlight: true,
          autoclose: true,
        });
      }
    });
  </script>

{% endblock %}
