{% extends "base.html" %}

{% block title %}
	<title> Residence Page </title>
{% endblock %}

{% block content %}
	<div class="container">
		<h3> All Residences </h3>
		{% if msg %}
			<div class="alert alert-success" role="alert">
  				{{ msg }}
			</div>
		{% endif %}
		{% for residence in residences %}
			<div class="row">
				<div class="col">
					{% with obj=residence %}
						{% include 'card.html' %}
					{% endwith %}
					<br>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
