{% extends "base.html" %}

{% block title %}
	<title> Residence Page </title>
{% endblock %}

{% block content %}
	<div class="container">
		{% if msg %}
			<div class="alert alert-success" role="alert">
  				{{ msg }}
			</div>
		{% elif errors %}}
			{% for error in errors %}}
				<div class="alert alert-danger" role="alert">
					{{ error }}
  				</div>
			{% endfor %}
		{% else %}
			<h3> All Residences </h3>
			{% for residence in residences %}
				<div class="row">
					<div class="col">
						{% with obj=residence %}
							{% include 'card.html' %}
						{% endwith %}
						<br>
					</div>
				</div>
			{% endfor %}
		{% endif %}
	</div>
{% endblock %}
